.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  padding: 1rem;
}

.modal__dialog {
  position: relative;
  width: min(100%, 800px);
  padding-block: 4rem;
  padding-inline: 1rem;
  background-color: var(--text-color);
  border-radius: 10px;
  border: solid 3px var(--action-color);
  color: var(--main-color);
}

.modal__dialog-close {
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: transparent;
  color: var(--main-color);
  border: none;
  cursor: pointer;
}

@media (width >= 1025px) {
  .modal__dialog {
    padding: 4rem;
  }
}
